<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @transaction.organization %>
</p>

<p>
  <strong>Is credit:</strong>
  <%= @transaction.is_credit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
